* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.flex {
    display: flex;
}
.headeritem {
    max-width: 1920px;
    width: 100%;
    background-color: #0020F4;
    align-items: center;
    padding: 36px;
    justify-content: space-between;
}
.logoimage {
    width: 115px;
    height: 65px;
}
.navbar a {
    color: white;
    margin: 30px;
    text-decoration: none;
}
.navbar {
    list-style: none;
    text-decoration: none;
}
.imagesection {
    background-color: #0020F4;
    max-width: 1920px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;   
}
.pic2 {
    width: 700px;
    height: 550px;   
}
.pic1 {
    width: 300px;
}
.contact {
    background-color: white;
    border-radius: 28px;
}
.contact a {
    color:#0020F4;
}

.textsection {
    color: #171717;
    font-size: 16px;
    margin: 150px;
    justify-content: space-evenly;
}
.about {
    width: 463px;
    height: 385px;    
}
h3 {
    font-size: 20px;
}
.bdng1 {
    width: 350px;
    height: 350px;
    margin: 150px;
}
.lowerdis {
    display: none;
}



@media (max-width: 375px) {
    .navbar {
        display: none;
    }
    .pic2 {
    width: 250px;
    height:230px;
    object-fit: cover;
    border-radius: 15px;
    }
    .pic1 {
    width: 200px;
    height: 135px;
    margin-left: -100px;
    overflow: hidden;
    border-radius: 15px;
}

    .imagesection {
        background-color:#0020F4;
    }
    
    .logoimage {
        width: 71px;
        height: 39px; }
    .headeritem {
        justify-content: center;
    }
    .lowerdis {
        width: 334px;
        height: 180px;
    }
    .bdng1 {
        display: none;
    }
    h3 {
        font-size: 16px;
    }
    .textsection {
        display: flex;
        flex-direction: column;
    }
}